:root {
  --color-primary: #46d7ac;
  --color-divider: #81ceb6;
  --row-even: #ebf2d3;
  --row-odd: #fffdff;
  font-size: 14px;
}

@media only screen and (max-width: 576px) {
  :root {
    font-size: 12px;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  opacity: 0;
  animation: fadeIn 2s;
/*  height: 80vh;*/
}

h1,
h2,
h3 {
  line-height: 1.1;
}

main {
  margin: 4.4rem auto;
}

.heading {
  background-color: var(--color-primary);
  min-height: 10vh;
  padding: 1rem;
}

/* virtical line */
.separator {
  width: 2px;
  height: 60vh;
  margin-bottom: 10vh;
  background-color: var(--color-divider);
}

/* horizontal line  */
.divider {
  background-color: var(--color-divider);
  width: 100%;
  height: 2px;
}


/* validations */
.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
  color: #0c0c0c;
}

.invalid-feedback{
  color: #ff606e;
}

.valid-feedback{
 color: #2acc80;
}

.enrolled-section {
  max-height: 28rem;
  overflow-y: auto;
}

.table-striped > tbody > tr:nth-child(even) > td {
  background-color: var(--row-even);
}
.table-striped > tbody > tr:nth-child(odd) > td {
  background-color: var(--row-odd);
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > td {
  border: 2px solid #a0be44;
}

thead {
  background-color: #a7c93f;
}

thead > tr > th,
td {
  padding: 0.25rem 0.5rem !important;
}

#table-data > tr {
  animation-name: fadeIn;
  animation-duration: 1s;
}

#table-data > tr > td:nth-child(even) {
  width: 8.25rem !important;
}

img {
  width: 110px;
  min-height: 120px;
}

@keyframes fadeIn {
  0% {
     opacity: 0;
  }
  100% {
     opacity: 1;
  }
}


footer {
  position: relative;
  background-color: var(--color-primary);
  padding: 0.5rem 1rem;
  bottom: 0;
}

label {
  display: inline-block;
  padding-right: 20px;
}

svg {
  fill: var(--color-primary);
  height: 10rem;
  width: 10rem;
}
